.wrapper
{height:auto;
width: auto;
margin: auto;}
/*body
{
box-shadow:#FFF 0 0 0 2px, #2A1FFF 0 0 0 4px, #FF3 0 0 0 6px, #A00 0 0 0 8px;}*/
.header
{height:100px;
width: 800px;}
.main
{height:300px;
width:400px;
margin:auto;
box-shadow:#FFF 0 0 0 2px, #2A1FFF 0 0 0 4px, #FF3 0 0 0 6px, #A00 0 0 0 8px;
}
.main img
{
margin:30px 10px 0px 0px;
box-shadow:#2A3FAA 0 0 0 2px, #FFFBF0 0 0 0 4px, #1D1D1D 0 0 0 6px, #000 0 0 0 8px;
}
.font
{margin:auto;
height:400px;
width:600px;
font-family:Arial, Helvetica, sans-serif;
color:#FFFFFF;
text-align:center;
box-shadow:#FFF 0 0 0 2px, #2A1FFF 0 0 0 4px, #FF3 0 0 0 6px, #A00 0 0 0 8px;}
a
{text-decoration:none}